
#sample_1 thead tr th{
	background-color: lightslategray;
	color: white;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
}

#themmoi{
	background-color: #26a1ab;
	text-align: center;
	font-weight: bold;
	color: white;
}
#chitiet{
	background-color: darkturquoise;
	text-align: center;
	font-weight: bold;
	color: white;
}
#suanguoidung{
	background-color: darkkhaki;
	text-align: center;
	font-weight: bold;
	color: white;
}
.list-inline .style-css {
	padding: 2px;
    border-radius: 3px;
}
#sample_1 tr th{
	padding: 15px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 12px 5px;
}
.list-inline{
	padding-top: 10px;
}
.titleCourses{
	margin-left: 40%;
}